<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.etl.eclipse.dt.launching.EtlLaunchConfigurationDelegate">
<booleanAttribute key="fine_grained_profiling" value="true"/>
<listAttribute key="models">
<listEntry value="#&#13;&#10;#Wed Apr 16 16:29:39 COT 2014&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=fixml&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=&#13;&#10;cached=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelUri=http\://uniandes.edu.co/0.1/SimpleXML&#13;&#10;modelUri=platform\:/resource/co.edu.uniandes.fixml.test/xml/test2.xmi&#13;&#10;type=EMF&#13;&#10;modelFile=/co.edu.uniandes.fixml.test/xml/test2.xmi&#13;&#10;expand=true&#13;&#10;metamodelFile=&#13;&#10;"/>
<listEntry value="#&#13;&#10;#Wed Apr 16 16:32:36 COT 2014&#13;&#10;isMetamodelFileBased=true&#13;&#10;name=object&#13;&#10;readOnLoad=false&#13;&#10;storeOnDisposal=true&#13;&#10;aliases=&#13;&#10;cached=true&#13;&#10;fileBasedMetamodelUri=platform\:/resource/co.edu.uniandes.fixml.simpleObject/metamodel/SimpleObject.ecore&#13;&#10;metamodelUri=&#13;&#10;modelUri=platform\:/resource/co.edu.uniandes.fixml.test/object/test2.xmi&#13;&#10;type=EMF&#13;&#10;modelFile=/co.edu.uniandes.fixml.test/object/test2.xmi&#13;&#10;expand=true&#13;&#10;metamodelFile=/co.edu.uniandes.fixml.simpleObject/metamodel/SimpleObject.ecore&#13;&#10;"/>
</listAttribute>
<booleanAttribute key="profile_model_loading" value="true"/>
<booleanAttribute key="profiling_enabled" value="true"/>
<booleanAttribute key="reset_profiler" value="true"/>
<stringAttribute key="source" value="/co.edu.uniandes.fixml.test/FixmlToObject.etl"/>
</launchConfiguration>
